<div class="row">
  <div class="col-xs-6">
    
  
    <input type="text" 
          [(ngModel)]="serverName" 
          class="form-control" >

     
    <button 
      class="btn btn-success" 
      (click)="onNewServer()" 
      [disabled]="!btnActive"> سرور جدید</button>
    
    <p *ngIf="serverCreated; else noServer" [innerText]='newServer'></p>
   <!--  <p *ngIf="!serverCreated" > هنوز سروری ایجاد نشده است</p> -->

   <ng-template #noServer>
      <p>  هنوز سروری ایجاد نشده است</p>
   </ng-template>
  
  </div>
  <div class="col-xs-6">
    <p *ngFor ="let server of serversList; let i='index' ">   سرور شماره {{i}}  ایجاد شد</p>
  </div>
</div>



