<div class="container">
  <div class="row">
    <div class="col-xs-12"><button class="btn btn-primary" (click)= "onlyOdd = !onlyOdd"> زوج/فرد</button></div>
    <br><br>
    <ul class="list-group">
      <div *ngIf="onlyOdd">
        <li class="list-group-item" 
            *ngFor="let odd of oddNumbers"
            [ngClass]="{'oddC': odd % 2 !== 0}"
            [ngStyle]="{backgroundColor: odd % 2 !== 0 ? 'yellow' : 'transparent'}">
          {{odd}}
        </li>
      </div>
      <div *ngIf="!onlyOdd">
        <li class="list-group-item" 
            *ngFor = "let even of evenNumbers"
            [ngStyle]="{backgroundColor: even % 2 == 0 ? 'gray' : 'transparent'}">
          {{even}}
        </li>
      </div>

    </ul>
      <p highlighter>به آکادمی آنلاین روکسو خوش آمدید</p>
      <p appBetterhighlight>های لایت به وسیله رندرر دو</p>

  </div>
</div>